# Core functionality - changes here should be rare!
/src/app.py                   @BB2MB
/src/backend/database.py      @BB2MB
/src/backend/routers/auth.py  @BB2MB

# The frontend will need refactored soon to be more object oriented.
/src/static/   @BB2MB
